<!--
  Generated template for the ThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>thankyou</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-title padding> Thank you for taking a tour with us!</ion-title>

    <ion-list>

        <ion-item margin-top>
            <ion-label>
                How was your experience?
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-range color="danger" min="1" max="5" step="1" pin="true">
                <ion-icon range-left small name="heart"></ion-icon>
                <ion-icon range-right name="heart"></ion-icon>
            </ion-range>
        </ion-item>

        <ion-item margin-top>
            <ion-label>
                Would you like to know about upcoming tours?
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label color="primary" floating>Your email</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button (click)="requestReview()">Review Me</button>

</ion-content>