.ios,
.md {
    page-navigate {
        .scroll {
            height: 100%
        }
        #map {
            width: 100%;
            height: 100%;
        }
        ion-card {
            max-height: 200px;
            overflow: scroll;
            position: absolute;
            z-index: 1;
        }
        .card-content-md {
            min-height: 43px;
        }
        .card-md {
            border-radius: 8px;
        }
        .adp-warnbox {
            display: none;
        }
    }
}