<!--
  Generated template for the NavigatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Navigate</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content padding-top>
            <button ion-button full small class="collapsible">
        <ion-icon name="arrow-round-up"></ion-icon>
      </button>
            <div #directionsPanel></div>
        </ion-card-content>
    </ion-card>
    <div #map id="map"></div>

    <button color="dark" ion-button block (click)="confirmEndTour()">
    End Tour
  </button>

    <!-- <ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
        <ion-pullup-tab [footer]="pullup" (tap)="toggleFooter()">
            <ion-icon name="arrow-up" *ngIf="footerState == 0"></ion-icon>
            <ion-icon name="arrow-down" *ngIf="footerState == 1"></ion-icon>
        </ion-pullup-tab>
        <ion-toolbar color="primary" (tap)="toggleFooter()">
            <ion-title>Footer</ion-title>
        </ion-toolbar>
        <ion-content>
            ... FOOTER CONTENT ...
        </ion-content>
    </ion-pullup> -->

</ion-content>