<!--
    not used
  Generated template for the Tab1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>tab1</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>