.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
        //height: 100%;
        height: 510px;
        border-radius: 11px;
        margin: 25px 0;
    }
    .card-title {
        position: absolute;
        top: 60%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-description {
        font-size: 1.0em;
        position: absolute;
        top: 77%;
        width: 100%;
        color: #fff;
    }
    .slick-list {
        padding: 0 20% 0 0;
    }
    .button {
        width: 80%;
        height: 50px;
        margin: 5% 10%;
        font-size: 14px;
        font-family: 'Gibson', bold;
    }
    .card-with-image img {
        min-width: 100%;
        min-height: 100%;
        height: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        object-fit: cover;
        filter: brightness(0.6);
    }
    .card-with-image {
        margin-left: 10px;
    }
    .slick-dots li button:before {
        font-size: 13px;
    }
    .slick-dots li button:hover:before {
        opacity: 0.7;
    }
    .slick-dots li.slick-active button:before {
        color: #BE3228;
    }
}