<ion-content class="card-background-page">



    <div class="home-slider">
        <ion-card text-wrap>

            <img src="assets/imgs/welcome.png" style="min-height: 100%;">
            <div class="card-title">Get started </div>
            <div class="card-description">Swipe through the historical locations that you can visit on your walking tour today!</div>

        </ion-card>
        <div *ngFor="let location of locations  ">
            <ion-card text-wrap class="card-with-image">

                <img src="{{location.img}}">
                <div class=" card-title ">{{location.name}} </div>
                <div class="card-description ">{{ location.description }} </div>

                <!--<button ion-button clear item-end> {{ location.distance }}</button>-->

            </ion-card>
        </div>
    </div>

    <button round ion-button text-center (click)="openTab2() ">
            START TOUR
    </button>



</ion-content>