page-tab2 {
    .toolbar-title {
        text-overflow: unset;
        white-space: unset;
    }
    .card-with-image img {
        border-radius: 10px;
        height: 90px;
        width: 90px;
        position: absolute;
        margin-top: 3px;
        margin-left: -50px;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    ion-item-sliding:nth-child(2n) ion-card {
        height: 100px;
        width: 80%;
        float: right;
        transition: 1s;
    }
    ion-item-sliding:nth-child(2n+1) ion-card {
        height: 100px;
        width: 80%;
        float: left;
        transition: 1s;
    }
    ion-item-sliding:nth-child(2n) .card-with-image img {
        border-radius: 10px;
        height: 90px;
        width: 90px;
        position: absolute;
        margin-top: 3px;
        margin-left: -50px;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: 1s;
    }
    ion-item-sliding:nth-child(2n+1) .card-with-image img {
        border-radius: 10px;
        height: 90px;
        width: 90px;
        position: absolute;
        margin-top: 3px;
        margin-left: 270px;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        transition: 1s;
    }
    ion-item-sliding:nth-child(2n) .card-title {
        position: absolute;
        top: 25%;
        left: 31%;
        width: 55%;
        white-space: nowrap;
        font-size: 16pt;
        font-weight: bold;
        font-family: 'Gibson';
        color: #454f63;
        transition: 1s;
    }
    ion-item-sliding:nth-child(2n+1) .card-title {
        width: 55%;
        left: 10%;
        position: absolute;
        top: 25%;
        white-space: nowrap;
        font-size: 16pt;
        font-weight: bold;
        font-family: 'Gibson';
        color: #454f63;
        transition: 1s;
    }
    .card-description {
        font-size: 1.0em;
        position: absolute;
        top: 70%;
        width: 60%;
        font-family: 'Gibson';
        color: #3d4656;
    }
    .sort-btn {
        width: 70%;
        height: 32px;
        margin: 0 15%;
        font-size: 14px;
        font-family: 'Gibson';
    }
    ion-fab[bottom] {
        bottom: 25px;
    }
    ion-fab[center] {
        left: 10%;
        right: 10%;
        margin-left: 0;
    }
    .start-btn {
        width: 100%;
        background-color: #BE3228;
        height: 50px;
        font-size: 14px;
        font-family: 'Gibson', bold;
    }
}