<!--
  Generated template for the Tab2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>

    <ion-title text-wrap margin>Reorder and Amend the list of locations you would like to visit. </ion-title>

    <!-- <ion-item margin-top>
        <ion-label>
            <ion-icon name="locate"></ion-icon>
            Your current location
            <h3 text-right> 0 m </h3>

        </ion-label>

    </ion-item> 
-->
    <button round ion-button class="sort-btn" (click)="sortList()">Present an ideal path</button>

    <ion-list no-lines reorder="true" (ionItemReorder)="reorderItems($event)">

        <ion-item-sliding *ngFor="let location of locations">

            <ion-item>

                <ion-label>

                    <ion-card text-wrap class="card-with-image">

                        <img src="{{location.img}}">
                        <div text-wrap class=" card-title ">{{location.name}} </div>
                        <ion-badge>
                            <div class="card-description" text-right>{{ location.distance | number:'1.0-0' | distancePipe }} </div>
                        </ion-badge>
                        <!--<button ion-button clear item-end> {{ location.distance }}</button>-->

                    </ion-card>

                </ion-label>


            </ion-item>



            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteItem(location)">
                    <ion-icon name="trash"></ion-icon>
                    Remove
                </button>
            </ion-item-options>


        </ion-item-sliding>

    </ion-list>

    <ion-fab center bottom>

        <button round ion-button class="start-btn" icon-end (click)="start(location)">
            Start Tour
            
        </button>

    </ion-fab>


</ion-content>