<!--
  Generated template for the LocationDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="primary">
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>

        <ion-item *ngFor="let details of location">
            <p> {{details.name}} </p>
        </ion-item>


    </ion-card>

</ion-content>